/***********MOBILE VERSION**************/

@media only screen and (max-width: 859px) {
    .container-bici {
        width: 100vw;
        background-color: #365B6D;
        padding: 50px 0;
    }
    .container-bici-title {
        font-size: 40px;
        font-family: 'Rubik-Light';
        font-weight: 300;
        letter-spacing: -1px;
        color: #f7f7f7;
        margin: 20px 0;
    }
    .container-bici-one, .container-bici-two {
        margin: 0 30px;
    }
    .container-bici-two {
        margin-top: 50px;
    }
    .tagline-bici {
        font-size: 17px;
        font-weight: 300;
        max-width: 800px;
        color: #83c7b1;
        margin: 12px auto;
        line-height: 20.5px;
        letter-spacing: 1.5px;
    }
    .container-bici-title-text {
        font-size: 33px;
        font-family: 'Rubik-Light';
        font-weight: 300;
        letter-spacing: -1px;
        color: #f7f7f7;
        margin-top: 70px;
    }

}




/***********DESKTOP VERSION**************/

@media only screen and (min-width: 860px) {
    .container-bici {
        background-color: #365B6D;
        padding: 50px 0;
    }
    .container-bici-title {
        font-size: 40px;
        font-family: 'Rubik-Light';
        font-weight: 300;
        letter-spacing: -1px;
        color: #f7f7f7;
        margin: 20px 0;
    }
    .container-bici-one, .container-bici-two {
        margin: 0 30px;
    }
    .container-bici-two {
        margin-top: 50px;
    }
    .tagline-bici {
        font-size: 17px;
        font-weight: 300;
        max-width: 700px;
        color: #83c7b1;
        margin: 12px auto;
        line-height: 20.5px;
        letter-spacing: 1.5px;
    }
    .container-bici-title-text {
        font-size: 33px;
        font-family: 'Rubik-Light';
        font-weight: 300;
        letter-spacing: -1px;
        color: #f7f7f7;
        width: 50%;
        margin: 70px auto;
    }

}