/***********MOBILE VERSION**************/

@media only screen and (max-width: 859px) {
    .landing-container {
        margin: auto 10px;
        background-color: #F2F1EC;
    }
    .landing-documentation {
        color: #FFB9F6;
        margin: 12px auto;
        line-height: 20.5px;
        letter-spacing: 1.5px;
        text-align: left;
        
    }
    .landing-documentation h4 {
        font-size: 28px;
        font-family: 'Rubik-Light';
        color: #F7F7F7;
    }
    ul {
        padding-left: 0;
    }
    .containers {
        background-color: #6C9286;
        color: white;
        border-radius: 0.25rem;
        margin: 100px auto;
        padding: 5px 10px;
    }
    .containers h2 {
        margin: 5px auto;
    }
    .landing-documentation-third-list {
        display: flex;
        justify-content: left;
        align-items: flex-start;
        margin: 5px auto;
    }
    .landing-documentation-third-list li{
        margin-left: 10px;
    }
    
}



/***********DESKTOP VERSION**************/

@media only screen and (min-width: 860px) {
    .landing-container {
        width: 50%;
        margin: auto auto;
    }
    .landing-documentation-third li{
        list-style: none;
    }
    .landing-documentation-third {
        text-align: left;

    }
}
