/***********MOBILE VERSION**************/

@media only screen and (max-width: 859px) {
    .footer-container {
        background-color: #faf6fb;;
        color: grey;
        position: absolute;
        width: 100vw;
        padding-top: 40px;
    }
    .footer-documentation-four {
        text-align: center;
    }
    .footer-documentation-four-contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
    }
    .footer-documentation-four-contacts p {
        font-family: 'Rubik-Light';
        font-size: 22px;
        margin: 0 0 0 10px;
        color: #959094;
        
    }
    .footer-documentation-four-contacts:last-child {
        padding-bottom: 20px;     
    }
    .footer-documentation-four-contacts p a {
        text-decoration: none;
        color: #959094;
    }

}



/***********DESKTOP VERSION**************/

@media only screen and (min-width: 860px) {
    .footer-container {
        background-color: #faf6fb;
        color: grey;
        position: absolute;
        width: 100%;
        padding-top: 40px;
    }
    .footer-documentation-four-contacts p a {
        text-decoration: none;
        color: #959094;
    }
}
