/***********MOBILE VERSION**************/

@media only screen and (max-width: 859px) {
    .footer-container {
        background-color: darkblue;
        color: white;
        position: absolute;
        width: 100vw;
    }
    .footer-documentation-four-contacts {
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 20px;
    }
    .footer-documentation-four-contacts p {
        margin: 4px auto 4px 10px;
        
    }
    .footer-documentation-four-contacts:last-child {
        padding-bottom: 20px;     
    }
    .footer-documentation-four-contacts p a {
        text-decoration: none;
        color: white;
    }

}



/***********DESKTOP VERSION**************/

@media only screen and (min-width: 860px) {
    .footer-container {
        background-color: darkblue;
        color: white;
        position: absolute;
        width: 100vw;
    }
    .footer-documentation-four-contacts p a {
        text-decoration: none;
        color: white;
    }
}
