/***********MOBILE VERSION**************/

@media only screen and (max-width: 859px) {
    .footer-container {
        background-color: rgba(177, 177, 177, 0.8);
        color: grey;
        position: absolute;
        width: 100vw;
        padding-top: 40px;
    }
    .footer-documentation-four {
        text-align: center;
    }
    .footer-documentation-four-contacts {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
    }
    .footer-documentation-four-contacts p {
        font-family: 'Rubik-Light';
        font-size: 22px;
        margin: 0 0 0 10px;
        color: #365B6D;
        
    }
    .footer-documentation-four-contacts:last-child {
        padding-bottom: 20px;     
    }
    .footer-documentation-four-contacts p a, .footer-documentation-four-contacts p {
        text-decoration: none;
        color: #365B6D;
    }

}



/***********DESKTOP VERSION**************/

@media only screen and (min-width: 860px) {
    .footer-container {
        background-color: rgba(177, 177, 177, 0.8);
        color: grey;
        position: absolute;
        width: 100%;
        padding-top: 40px;
    }
    .footer-documentation-four-contacts p a, .footer-documentation-four-contacts p  {
        text-decoration: none;
        color: #365B6D;
        font-weight: bold;
    }
}
