/***********MOBILE VERSION**************/

@media only screen and (max-width: 859px) {
    .header-container{
        width: 100vw;
        top: 0;
        color: #f7f7f7;
        background-image: linear-gradient( 135deg, rgba(43, 73, 88, 0.8) 0%, rgba(89, 121, 111, 0.8) 100%);
        text-align: center;
        height: 100%;
        
    }
    .header-container-display {
        /*background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 20px;
        /*position: fixed;*/

    }
    
    .dropdown-content {
        position: absolute;
        background-color: #688a7e;
        width: 100vw;  
        top: 110px;
        left: 0;
        display: inline-block;
        padding-top: 50px;
        padding-bottom: 50px;
        
    }
    .dropdown-content li {
        list-style: none;
        color: #F2F1EC;
        font-family: 'Rubik-Light';
        font-size: 16px;
        font-weight: 300;
        padding: 18px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown-content li:hover {
        list-style: none;
        color: #FFFFFF;
        font-family: 'Rubik-Light';
        font-size: 16px;
        font-weight: 600;
        padding: 15px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown-icon {
        margin-left: 20px;
        font-size: 34px;
        z-index: 1;
        font-weight: 200;
    }
    .header-title {
        width: 240px;
    }
    .header-image-mobile {
        width: 60%;
    }
    .header-title p {
        margin: 15px auto;
    }
    .icon-header {
        margin-right: 12px;
    }
    li {
        list-style: none;
    }
    .header-container-desktop {
        display: none;
    }
    .header-main-container {
        padding: 40px 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .main-container-title {
        font-size: 40px;
        margin-top: 0;
        font-family: 'Rubik-Light';
        font-weight: 300;
        letter-spacing: -1px;
    }
    .tagline {
        font-size: 17px;
        font-weight: 300;
        max-width: 800px;
        color: #F2F1EC;
        margin: 12px auto;
        line-height: 20.5px;
        letter-spacing: 1.5px;
    }
    .header-main-container-icon {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-bottom: 80px;
    }
    .btn-header-container {
        background-color: transparent;
        border: 1px solid white;
        font-size: 50px;
        width: 120px;
        border-radius: 4px;
    }
}



/***********DESKTOP VERSION**************/

@media only screen and (min-width: 860px) {
    .header-container {
        display: none;
    }
    .header-container-desktop {
        top: 0;
        background-color: darkblue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
    }
    .header-container-desktop li {
        list-style: none;
        margin: 0 20px;
    }
    .header-desktop-list {
        display: flex;
        justify-content: space-around;
        align-items: center;     
    }
    .header-desktop-link {
        width: 40%;
    }
    .header-image {
        width: 50%;
        left: -40px;
        position: relative;
    }

}

